/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.sub-headings {
  font-size: 2em;
  font-weight: bold;
  color: #f42;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #eee;
}

.tnw-link {
  display: inline-block;
  width: 106px;
  height: 48px;
  padding: 16px 20px;
  background-color: #000;
}

.tnw-logo {
  width: 66px;
  height: 16px;
}

.nav-right-links {
  display: inline-block;
  width: 48px;
  height: 48px;
  padding: 16px;
  border-left: 1px solid #eee;
}

.fa-search {
  color: #ccc;
  transform: rotate(90deg);
}

.fa-bars {
  color: #f42;
}

/* MAIN SECTION */

.main-articles-section {
  grid-template-areas:
    "main-img-1"
    "main-img-2"
    "main-img-3";
  gap: 4px;
}

.main-img-1 {
  grid-area: main-img-1;
  min-height: 206px;
  height: auto;
}

.main-img-2 {
  grid-area: main-img-2;
  height: 206px;
}

.main-img-3 {
  grid-area: main-img-3;
  height: 206px;
}

.main-articles {
  background-color: blue;
}

@media screen and (min-width: 768px) {
  .main-articles-section {
    grid-template-areas:
      "main-img-1 main-img-2"
      "main-img-1 main-img-3";
  }
}

/* LATEST NEWS SECTION */

.latest-news-wrapper,
.latest-funding-wrapper,
.most-popular-section,
.latest-deals-wrapper {
  grid-template-columns: 1fr;
  gap: 8px;
}

.latest-news-articles {
  min-height: 88px;
  background-color: #fa4;
}

@media screen and (min-width: 768px) {
  .latest-news-wrapper,
  .latest-funding-wrapper,
  .latest-deals-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .latest-news-wrapper,
  .latest-funding-wrapper,
  .latest-deals-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Latest Funding Section */

.latest-funding-articles {
  min-height: 246px;
  background-color: #0f8;
}

/* Most Popular Section */

.most-popular-articles {
  min-height: 688px;
  background-color: #fa4;
}

@media screen and (min-width: 768px) {
  .most-popular-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .most-popular-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Latest Deals */
.latest-deals-articles {
  min-height: 88px;
  background-color: #0f8;
}

/* FOOTER */

footer {
  color: #aaa;
}

.footer-top {
  background-color: #555;
  height: 160px;
  padding: 42px 0 28px 0;
}

.footer-top ul {
  justify-content: center;
  margin: 0 10px 30px 0;
}

.footer-nav-links a {
  margin-right: 10px;
  text-decoration: none;
  color: #aaa;
  font-size: 13px;
}

.footer-bottom {
  background-color: #000;
  padding: 39px 0;
  text-align: center;
}
